@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Dosis', sans-serif;
}

:root{
    --bg:#F0F8FF;
    --primary: #B0C4DE;
    --secondary:#E6E6FA;
    --dark:#708090;
    --light:#F8F8FF;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: var(-bg);
}


header{
    width: 100%;
    height: 70vh;
    background-image: url("./assets/header_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    clip-path: ellipse(60% 60% at 50% 20%);
    padding: 50px;
}

.photo{
    margin: 20px;
}

.photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
}

.information h1{
    margin: 10px;
    font-size: 25pt;
    border-bottom: 5px solid var(--primary);
}

.information h3{
    font-size: 20pt;
}

hr{
    border: 5px dashed var(--primary);
    margin: 20px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.title{
    font-size: 20pt;
    color: var(--dark);
    border-bottom: 5px solid var(--primary);
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.content p{
    font-size: 18pt;
    color: var(--dark);
}

.content img{
    width: 30vw;
}

.content-skill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px;
}

.skill-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.skill-item img{
    width: 150px;
}

.skill-item p{
    font-size: 18pt;
    color: var(--dark);
    margin: 10px;
}

.content-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.list{
    text-align: center;
}

.item{
    margin: 20px;
    font-size: 18pt;
    color: var(--dark);
}


footer{
    position: sticky;
    background-color: var(--dark);
    width: 100%;
    height: 120px;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 16pt;
    color: var(--light);
}

.social{
    width: 15%;
}

.social-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-item{
    width: 50px;
    height: 50px;
    background-color:var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.social-link{
    font-size: 20pt;
    color: var(--primary);
    border-radius: 50px;
}
